---
http_interactions:
- request:
    method: get
    uri: https://planningcenteronline.com/organization.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<PCO_CONSUMER_KEY>", oauth_nonce="8n2ZFeZTKWFlce3uCQDj4H65vlRRzhtcAeFbJj4kns",
        oauth_signature="0ZuLrR9L0lTfltUlhY6RFR1BYxQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397555879", oauth_token="<PCO_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Last-Modified:
      - Tue, 15 Apr 2014 09:58:00 GMT
    body:
      encoding: UTF-8
      string: "{\"id\":58851,\"account_center_id\":96557,\"name\":\"The Bridgeway
        Church\",\"owner_name\":\"Mo Lawson\",\"music_stand_enabled\":null,\"projector_enabled\":null,\"ccli_connected\":false,\"secret\":1357536549,\"date_format\":2,\"twenty_four_hour_time\":false,\"total_songs\":49,\"total_people\":4,\"service_types\":[{\"id\":230211,\"name\":\"Weekend
        Service\",\"parent_id\":0,\"type\":\"ServiceType\",\"container\":\"The Bridgeway
        Church\",\"container_id\":null,\"sequence\":0,\"attachment_types_enabled\":false,\"permissions\":\"Administrator\"}],\"service_type_folders\":[]}"
  recorded_at: Tue, 15 Apr 2014 09:57:59 GMT
recorded_with: VCR 2.9.0
