---
http_interactions:
- request:
    method: get
    uri: https://planningcenteronline.com/service_types/230211/plans.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<PCO_CONSUMER_KEY>", oauth_nonce="1uOydQ2MOgCdXBUi38tkg7nnR0L6knVKvG2BaD8P4Q",
        oauth_signature="f0QuKv2MCebTSF3kvpWXzWT4htU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398291379", oauth_token="<PCO_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Last-Modified:
      - Wed, 23 Apr 2014 22:16:20 GMT
    body:
      encoding: UTF-8
      string: "[{\"id\":13643464,\"plan_title\":\"Jesus Is a Better Teacher\",\"series_title\":\"Jesus
        Is Better\",\"service_type_id\":230211,\"service_type_name\":\"Weekend Service\",\"dates\":\"3
        August 2014\",\"series\":null,\"public\":false,\"updated_at\":\"2014/04/23
        22:16:05 +0000\",\"created_at\":\"2014/04/23 22:06:01 +0000\",\"sort_date\":\"2014/08/03
        10:30:00 +0000\",\"type\":\"Plan\",\"updated_by\":{\"id\":2768489,\"name\":\"Mo
        Lawson\"},\"created_by\":{\"id\":2768489,\"name\":\"Mo Lawson\"},\"permissions\":\"Administrator\",\"scheduled\":false}]"
  recorded_at: Wed, 23 Apr 2014 22:16:19 GMT
recorded_with: VCR 2.9.0
