---
http_interactions:
- request:
    method: get
    uri: https://planningcenteronline.com/service_types/230211/plans.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<PCO_CONSUMER_KEY>", oauth_nonce="7kTo9SOyWGyEKYey6nX1V1HvFMyFhoCorpLC2IJsk",
        oauth_signature="PzuIszrEyjESk1BvNUzRvrtJe%2Fs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397598111", oauth_token="<PCO_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Last-Modified:
      - Tue, 15 Apr 2014 21:41:52 GMT
    body:
      encoding: US-ASCII
      string: ! '[{"id":13526759,"plan_title":"","series_title":"","service_type_id":230211,"service_type_name":"Weekend
        Service","dates":"20 April 2014","series":null,"public":false,"updated_at":"2014/04/15
        21:34:24 +0000","created_at":"2014/04/15 21:34:22 +0000","sort_date":"2014/04/20
        10:30:00 +0000","type":"Plan","updated_by":{"id":2768489,"name":"Mo Lawson"},"created_by":{"id":2768489,"name":"Mo
        Lawson"},"permissions":"Administrator","scheduled":false}]'
  recorded_at: Tue, 15 Apr 2014 21:41:52 GMT
recorded_with: VCR 2.9.0
