---
http_interactions:
- request:
    method: get
    uri: https://planningcenteronline.com/plans/13531990.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<PCO_CONSUMER_KEY>", oauth_nonce="63UsUD8C2lqo1Yo77JMXNciSorI6UZ9sNVPMnubw24",
        oauth_signature="3EU7ULwJRc3FSBYASYI3rKKvvII%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397642744", oauth_token="<PCO_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Last-Modified:
      - Wed, 16 Apr 2014 10:05:44 GMT
    body:
      encoding: UTF-8
      string: "{\"id\":13531990,\"plan_title\":\"Jesus Is a Better Teacher\",\"series_title\":\"Jesus
        Is Better - Hymns from Hebrews\",\"service_type_id\":230211,\"service_type_name\":\"Weekend
        Service\",\"dates\":\"27 April 2014\",\"series\":null,\"public\":false,\"updated_at\":\"2014/04/16
        09:12:47 +0000\",\"created_at\":\"2014/04/16 08:56:19 +0000\",\"sort_date\":\"2014/04/27
        10:30:00 +0000\",\"type\":\"Plan\",\"updated_by\":{\"id\":2768489,\"name\":\"Mo
        Lawson\"},\"created_by\":{\"id\":2768489,\"name\":\"Mo Lawson\"},\"permissions\":\"Administrator\",\"service_type\":{\"id\":230211,\"name\":\"Weekend
        Service\",\"parent_id\":0,\"type\":\"ServiceType\",\"container\":\"The Bridgeway
        Church\",\"container_id\":null,\"sequence\":0,\"attachment_types_enabled\":false,\"regular_service_times\":[],\"permissions\":\"Administrator\"},\"total_length\":4710,\"total_length_formatted\":\"78:30\",\"comma_separated_attachment_type_ids\":\"\",\"plan_notes\":[],\"positions\":[],\"items\":[{\"id\":182387590,\"title\":\"Rock
        Of Ages\",\"sequence\":1,\"plan_id\":13531990,\"dom_id\":\"plan_item_182387590\",\"type\":\"PlanSong\",\"length\":240,\"length_formatted\":\"4:00\",\"detail\":\"\",\"comments_count\":0,\"is_preservice\":false,\"is_postservice\":false,\"is_header\":false,\"using_custom_slides\":false,\"plan_item_medias\":[],\"plan_item_notes\":[],\"plan_item_times\":[],\"ccli_print_single\":0,\"ccli_print_collected\":0,\"ccli_screen\":0,\"ccli_custom_arrangement\":0,\"ccli_recorded\":0,\"song_id\":7591606,\"arrangement_id\":8535124,\"key_id\":null,\"information\":\"\",\"description\":\"\",\"arrangement_sequence_to_s\":\"V1,
        V2, C, V3, C, B, C\",\"song\":{\"id\":7591606,\"title\":\"Rock Of Ages\",\"admin\":\"Music
        Services, Inc.\",\"author\":\"Dustin Kensrue\",\"ccli_id\":7004664,\"copyright\":\"
        Dead Bird Theology, It's All About Jesus Music, and We Are Younger We Are
        Faster Music\",\"created_at\":\"2014/03/22 15:40:55 +0000\",\"created_by_id\":2768489,\"hidden\":false,\"notes\":null,\"themes\":\"\",\"updated_at\":\"2014/03/22
        15:40:55 +0000\",\"updated_by_id\":2768489,\"last_plan_id\":13531990,\"attachments\":[]},\"arrangement\":{\"id\":8535124,\"name\":\"Default
        Arrangement\",\"bpm\":null,\"has_chords\":false,\"has_chord_chart\":true,\"length\":0,\"sequence_to_s\":\"V1,
        V2, C, V3, C, B, C\",\"meter\":\"\"},\"music_stand_attachment_id\":\"lyric_chart-8535124\",\"attachments\":[{\"id\":\"lyric_chart-8535124\",\"url\":\"https://services.planningcenteronline.com/arrangements/8535124/lyric_chart?sequence_id=182387590\",\"allow_mp3_download\":false,\"content_type\":\"application/octet-stream\",\"filename\":\"Rock
        Of Ages - lyrics.pdf\",\"downloadable\":true,\"streamable\":false,\"comma_separated_page_order\":null,\"comma_separated_attachment_type_ids\":\"\",\"linked_object_type\":\"Arrangement\",\"linked_object_id\":8535124,\"offset_x\":null,\"offset_y\":null,\"zoom\":null,\"custom_zooms\":[],\"secure_link\":\"eJwNyN0KgjAUAGCCkJ6jB3DzfxMihCyKLrvpSubxTFd6tM2iHqT3re_yW66O68W3m-fJ5Yw5tC8D6PypV0SGWkCa0Y7UG0IfxoEpaxW1OPzfMTy9bzF0953dT0VblNf2cA61Bg6JQF6nUistQs4l6jrIQoAmkjVP0iSuG9Z_rIEKOmXnrcPHEwmwMs0mEGEkskRyL_fKyw-OJjWAf7d9a8e2dced9113d1784548fdcc53f4ce331aea\",\"updated_at\":\"2014/04/16
        09:12:37 +0000\"}]},{\"id\":182387592,\"title\":\"Build Your Kingdom Here\",\"sequence\":2,\"plan_id\":13531990,\"dom_id\":\"plan_item_182387592\",\"type\":\"PlanSong\",\"length\":210,\"length_formatted\":\"3:30[...]
