---
http_interactions:
- request:
    method: get
    uri: https://planningcenteronline.com/plans/13643464.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<PCO_CONSUMER_KEY>", oauth_nonce="dHfdxSKeJd0wvcENFFGIT8XwhJOMCuN3OnYlondL4aI",
        oauth_signature="feDaJWa7cbL512QnyHZVpYfD9r4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1398291382", oauth_token="<PCO_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Last-Modified:
      - Wed, 23 Apr 2014 22:16:23 GMT
    body:
      encoding: UTF-8
      string: "{\"id\":13643464,\"plan_title\":\"Jesus Is a Better Teacher\",\"series_title\":\"Jesus
        Is Better\",\"service_type_id\":230211,\"service_type_name\":\"Weekend Service\",\"dates\":\"3
        August 2014\",\"series\":null,\"public\":false,\"updated_at\":\"2014/04/23
        22:16:05 +0000\",\"created_at\":\"2014/04/23 22:06:01 +0000\",\"sort_date\":\"2014/08/03
        10:30:00 +0000\",\"type\":\"Plan\",\"updated_by\":{\"id\":2768489,\"name\":\"Mo
        Lawson\"},\"created_by\":{\"id\":2768489,\"name\":\"Mo Lawson\"},\"permissions\":\"Administrator\",\"service_type\":{\"id\":230211,\"name\":\"Weekend
        Service\",\"parent_id\":0,\"type\":\"ServiceType\",\"container\":\"The Bridgeway
        Church\",\"container_id\":null,\"sequence\":0,\"attachment_types_enabled\":false,\"regular_service_times\":[],\"permissions\":\"Administrator\"},\"total_length\":4650,\"total_length_formatted\":\"77:30\",\"comma_separated_attachment_type_ids\":\"\",\"plan_notes\":[],\"positions\":[],\"items\":[{\"id\":183966592,\"title\":\"Rock
        Of Ages\",\"sequence\":1,\"plan_id\":13643464,\"dom_id\":\"plan_item_183966592\",\"type\":\"PlanSong\",\"length\":180,\"length_formatted\":\"3:00\",\"detail\":\"\",\"comments_count\":0,\"is_preservice\":false,\"is_postservice\":false,\"is_header\":false,\"using_custom_slides\":false,\"plan_item_medias\":[],\"plan_item_notes\":[],\"plan_item_times\":[],\"ccli_print_single\":0,\"ccli_print_collected\":0,\"ccli_screen\":0,\"ccli_custom_arrangement\":0,\"ccli_recorded\":0,\"song_id\":7591606,\"arrangement_id\":8535124,\"key_id\":null,\"information\":\"\",\"description\":\"\",\"arrangement_sequence_to_s\":\"V1,
        V2, C, V3, C, B, C\",\"song\":{\"id\":7591606,\"title\":\"Rock Of Ages\",\"admin\":\"Music
        Services, Inc.\",\"author\":\"Dustin Kensrue\",\"ccli_id\":7004664,\"copyright\":\"
        Dead Bird Theology, It's All About Jesus Music, and We Are Younger We Are
        Faster Music\",\"created_at\":\"2014/03/22 15:40:55 +0000\",\"created_by_id\":2768489,\"hidden\":false,\"notes\":null,\"themes\":\"\",\"updated_at\":\"2014/03/22
        15:40:55 +0000\",\"updated_by_id\":2768489,\"last_plan_id\":13643464,\"attachments\":[]},\"arrangement\":{\"id\":8535124,\"name\":\"Default
        Arrangement\",\"bpm\":null,\"has_chords\":false,\"has_chord_chart\":true,\"length\":0,\"sequence_to_s\":\"V1,
        V2, C, V3, C, B, C\",\"meter\":\"\"},\"music_stand_attachment_id\":\"lyric_chart-8535124\",\"attachments\":[{\"id\":\"lyric_chart-8535124\",\"url\":\"https://services.planningcenteronline.com/arrangements/8535124/lyric_chart?sequence_id=183966592\",\"allow_mp3_download\":false,\"content_type\":\"application/octet-stream\",\"filename\":\"Rock
        Of Ages - lyrics.pdf\",\"downloadable\":true,\"streamable\":false,\"comma_separated_page_order\":null,\"comma_separated_attachment_type_ids\":\"\",\"linked_object_type\":\"Arrangement\",\"linked_object_id\":8535124,\"offset_x\":null,\"offset_y\":null,\"zoom\":null,\"custom_zooms\":[],\"secure_link\":\"eJwNyN0KgjAUAGCCiJ6jB3DzZ-aECCGLostuupLteKYrPdpmUQ_S-9Z3-c2Xx9Xs207T6HPGPLqXBfTB2CkiSw0gTegG6ixhAEPPlHOKGuz_7xme3rcE2vvO7ceiKcprczhHxgAHkSHXqTTKZBHnEo0O1xFAHUvNRSoSXbPu4yxU0Co3bT0-nkiAla03YRbLNBUyWuSL8vIDjmM1hg||911e907a0236461aad8fd95eb29e74b68e26a055\",\"updated_at\":\"2014/04/23
        22:15:01 +0000\"}]},{\"id\":183966602,\"title\":\"Build Your Kingdom Here\",\"sequence\":2,\"plan_id\":13643464,\"dom_id\":\"plan_item_183966602\",\"type\":\"PlanSong\",\"length\":240,\"length_formatted\":\"[...]
