---
http_interactions:
- request:
    method: get
    uri: https://planningcenteronline.com/service_types/230211/plans.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<PCO_CONSUMER_KEY>", oauth_nonce="Qbc93vQ8TOpUCfnb09sFNgKmdtcsN5lVNZpf3nvibMQ",
        oauth_signature="dQOCyWCUveYMCCB5lDYLmTWi1w4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1397642746", oauth_token="<PCO_ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Last-Modified:
      - Wed, 16 Apr 2014 10:05:46 GMT
    body:
      encoding: UTF-8
      string: "[{\"id\":13531990,\"plan_title\":\"Jesus Is a Better Teacher\",\"series_title\":\"Jesus
        Is Better - Hymns from Hebrews\",\"service_type_id\":230211,\"service_type_name\":\"Weekend
        Service\",\"dates\":\"27 April 2014\",\"series\":null,\"public\":false,\"updated_at\":\"2014/04/16
        09:12:47 +0000\",\"created_at\":\"2014/04/16 08:56:19 +0000\",\"sort_date\":\"2014/04/27
        10:30:00 +0000\",\"type\":\"Plan\",\"updated_by\":{\"id\":2768489,\"name\":\"Mo
        Lawson\"},\"created_by\":{\"id\":2768489,\"name\":\"Mo Lawson\"},\"permissions\":\"Administrator\",\"scheduled\":false}]"
  recorded_at: Wed, 16 Apr 2014 10:05:46 GMT
recorded_with: VCR 2.9.0
